# MongoDB Connection
# For local MongoDB: mongodb://localhost:27017/markhors
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/markhors
MONGODB_URI=mongodb://localhost:27017/markhors

# Server Port
PORT=5000

# Environment
NODE_ENV=development
